{{> header}}
<div id="detailsMovie">
    <h1>Details</h1>
    <div class="movie">
        <h2>Title: {{title}}</h2>
        <img
                src="{{imageURL}}">
        <p>A family's serenity turns to chaos when a group of doppelgängers begins to terrorize them.</p>
        <h2>Genres</h2>
        <ul class="genres">
            <li>Horror,Triller</li>
        </ul>
        <p>Available Tickets: {{tickets}}</p>
        <button><a href="#/details">Buy Ticket</a></button>
    </div>
</div>
{{> footer}}